<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="smartDesign/templates/styles.css" type="text/css">
    <title>Title Page</title>
</head>
<body>
<div style="background: green;
    color: #49152C;
    width: 150px;
    padding: 30px 50px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;">
  <form action="/products">
      <p style="text-align: left"><button type="submit">Получить все продукты</button>
  </form>
</div>

<div style="
    background: blue;
    width: 150px;
    padding: 10px 50px;
    font-size: 20px;">
  <form action="/products/">
      <p><input placeholder="arg № 1" name="arg1"></p>
      <p><input placeholder="arg № 2" name="arg2"></p>
      <p><button type="submit">Отправить форму</button></p>
  </form>
</div>


</body>
</html>