<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="smartDesign/templates/styles.css" type="text/css">
    <title>Title Page</title>
</head>
<body>
<div style=
    "width: 160px;	height: 100px; /* Размеры */
    background: #fc0; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */>
    ">
  <form action="/products">
      <p style="text-align: left"><button type="submit">Получить все продукты</button>
  </form>
</div>
<div style="width: 160px;	height: 150px; /* Размеры */
    background: #fc0; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */>
    ">
  <form action="/products/">
      <p><input placeholder="arg № 1" name="arg1"></p>
      <p><input placeholder="arg № 2" name="arg2"></p>
      <p><button type="submit">Отправить форму</button></p>
  </form>
</div>


</body>
</html>
